@media(max-width: 768px){
    .slide{
        width: initial;
    }
    .informacoes{
        align-items: center;
        height: calc(100vh - 100px);
        gap: 20px;
    }
    .informacoes .descricao{
        width: 60%;
        text-align: center;
        backdrop-filter: blur(3px);
        padding: 10px;
        border-radius: 10px;
    }

    .botoes-slider .botao.selecionado{
        backdrop-filter: blur(3px);
    }   
    .menu-lateral .icons{
        filter: invert(90%);
    }
}

@media(max-width: 425px){
    .informacoes{
        height: calc(100vh - 175px);
        gap: 10px;
        padding: 10px;
    }
    .informacoes .logo{
        max-width: 300px;
    }
    .informacoes .descricao{
        width: 100%;
        padding: 30px;
    }
    .menu-lateral{
        width: 100%;
        bottom: 0;
        top: inherit;
        align-items: flex-end;
        margin-bottom: 15px;
    }
    .menu-lateral ul{
        flex-direction: row;
    }
}